// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

conda {
    enabled = true
    useMamba = true
}

process {
    withName: 'TRIMMOMATIC' {
        cpus = 4
        memory = '8 GB'
        time = '30 min'
    }
    
    withName: 'BRESEQ' {
        cpus = 8
        memory = '16 GB'
        time = '2 h'
    }
}

profiles {
    local {
       process.cpus = 8
    }
  
    cluster {
        process.executor = 'slurm'
    }
}